[submodule "inventory_project-backend"]
	path = inventory_project-backend
	url = https://github.com/bv777/inventory_project-backend.git
[submodule "inventory_project-frontend"]
	path = inventory_project-frontend
	url = https://github.com/bv777/inventory_project-frontend.git
